<head>
<script type="text/javascript">
function onload(){
	document.getElementById("day{{nowday}}").selected=true;
	document.getElementById("month{{nowmonth}}").selected=true;
}
</script>
</head>
{% if val %}
<font color=red>{{response}}</font>
{% else %}
<font color=green>{{response}}</font>
{% endif %}


<h1>Create a Message</h1>

<form action="/callme/newaction/" method="post">
Name: <input type="text" name="name"><br>
Phone number to call at alarm: 
		(<input type="text" name="phone_number1" size=3 maxlength=3>)
		<input type="text" name="phone_number2" size=3 maxlength=3>
		<input type="text" name="phone_number3" size=4 maxlength=4><br>
Email: <input type="text" name="email" maxlength=100><br>
Memo: <input type="text" name="memo" maxlength=256><br>

Time: <select name="hour">
{% for i in hours %}
<option>{{i}}</option>
{% endfor %} 
</select>

:<select name="minute">
{% for i in minutes %}
<option>{{i}}</option>
{% endfor %} 
</select>

<select name="ampm">
{% for i in ampm %}
<option>{{i}}</option>
{% endfor %} 
</select>
<br>
Day: <select name="day">
{% for i in days %}
	<option id=day{{i}}>{{i}}</option>
{% endfor %} 
</select>

<select name="month">
{% for i in months %}
	<option id=month{{i}}>{{i}}</option>
{% endfor %} 
</select>

<select name="year">
{% for i in years %}
<option>{{i}}</option>
{% endfor %} 
</select>

<br>

<input type="hidden" name="client" value="0">
<input type="submit" value="submit" maxlength=10><br>
</form>
<H2>User Info</H2>
name: {{user.username}}<br>
number:{{profile.phone_number}}<br>
secret:{{profile.secret}}<br>
<a href="/callme/logout">logout</a>
<a href="/callme/change_password">change password</a>
